<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pokenea</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="pokenea-container">
        <h1>{{ pokenea.nombre }}</h1>
        <p><strong>Altura:</strong> {{ pokenea.altura }}</p>
        <p><strong>Habilidad:</strong> {{ pokenea.habilidad }}</p>
        <img src="{{ pokenea.imagen }}" alt="Imagen de {{ pokenea.nombre }}">
        <p><strong>Frase:</strong> {{ pokenea.frase_filosofica }}</p>
        <p><em>ID del Contenedor:</em> {{ pokenea.contenedor_id }}</p>
        <div class="buttons">
            <button onclick="location.reload()">Cambiar pokemon</button>
            <button onclick="window.location.href='/'">Volver al Menú Principal</button>
        </div>
    </div>
</body>
</html>
